body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   
  background: url(page.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
h1{
	font-size: 3rem;
	color: white;
}

.buffer{
	height:7rem;
}
hr{
	background-color: orange;
	border-width: 3px;
	max-width: 65px;
}

.btn{
	
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: orange;
	border-color: orange;
}
.btn-primary:hover{
	background-color: red;
	border-color: red;
	border-width: 4px;
}


.btn-xl{
	padding: 1em 2em;
}